*{
    margin: 0px;
    padding: 0px;
}

header{
    /*border: 1px solid red;*/
    overflow: hidden;
}

.wrapper{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.logo{
    /* border: 1px solid green;*/
    width: 10%;
    float: left;
    margin: 41px 12px 15px 188px;
}

.logo img{
    width: 100%;
}

.menu{
    /*border: 1px solid green;*/
    float: right;
    width: 57%;
    min-height: 50px;
    margin: 7px 196px 0px 0px;
}

.menu ul{
    overflow: hidden;
}
.menu ul li{
    list-style: none;
    float: left;
    margin-top: 18px;
}

.menu ul li a{
    font-family: bold sans-serif;
    font-size: 16px;
    color: #074C75;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 16px;
    display: inline-block;
}

.sign{
    /*border: 1px solid yellow;*/
    float: right;
    overflow: hidden;
    margin-right: 200px;
    margin-bottom: 0px;
    width: 28%;
    min-height: 35px;
}
.sign ul{

}

.sign ul li{
    list-style: none;
    float: left;
}

.sign ul li a{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #817E7F;
    /* padding: 0px 0px; */
    margin: 5px;
}

.menu .find {
    color: black;
    overflow: hidden;
    /* width: 100%; */
    /* min-height: 9px; */
    padding: 10px;
    border: 2px solid #D5E6F6;
    box-sizing: border-box;
    margin: -11px 2px 0px 5px;
}